@import "tailwindcss";
@font-face {
    font-family: 'Akira Expanded';
    src: url('../assets/fonts/AkiraExpanded-SuperBold.woff') format('woff'),
        url('../assets/fonts/AkiraExpanded-SuperBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@theme {
  /* 🌞 Modo Claro */
  --color-primary-800: #5d0387; /* Más fuerte */
    --color-primary-700: #7A0EB3;
    --color-primary-600: #9A1FFF;
    --color-primary-500: #B445FF;
    --color-primary-400: #C47CFF;
    --color-primary-300: #D7B3FF; /* Más claro */

  /* 🌙 Modo Oscuro */
    


  /* 🌙 fuentes */
  --font-semibold: 'Akira Expanded', 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


